@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  margin: 0;
  background-color: #1a1a1a;

  position: relative;
}
@media screen and (max-width: 480px) {
  nav,
  .hello {
    display: none;
  }

  main {
    width: 100%;
    height: 100vh;
  }

  #resume {
    padding-bottom: 5rem;
  }

  .socials {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px;
    width: 70%;
    height: 55px;
    position: absolute;
    top: 0rem;
    margin: 1.2rem 3.6rem;
    justify-content: center;
    align-items: center;
  }

  .social-fill {
    background: rgb(26, 26, 26);
    padding: 8px 11px;
    border-radius: 100px;
    cursor: pointer;
  }

  .social-fill a {
    color: #f2f2ff;
    text-decoration: none;
  }

  .socials a {
    height: 60px;
    font-size: 1.1rem;
    text-decoration: none;
  }

  .profile-text {
    position: absolute;
    height: 50%;
    width: 100%;
    top: 35rem;
  }

  .group-modal {
    position: absolute;
    margin-top: 30rem;
  }

  #profile-img {
    position: absolute;
    top: 8rem;
    right: 2rem;
    height: 300px;
    width: 300px;
    background-size: cover;
    background-position: center;
    background-image: url(./images/profile-photo.jpg);
    border-radius: 2%;
    z-index: 2;
  }

  #profile-img img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  #img-index {
    background-color: #f2f2f2;
    position: absolute;
    top: 8rem;
    right: 2rem;
    height: 300px;
    width: 300px;
    border-radius: 2%;
    transform: rotate(86deg);
    z-index: -1;
  }

  .profile-text {
    position: absolute;
    top: 28rem;
    right: 0;
    height: 50%;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    padding: 0 1.4rem;
    margin-top: 1rem;
  }

  .profile-text h2 {
    color: #f2f2f2;
    font-family: 'Poppins', sans-serif;
    line-height: 25px;
    font-size: 34px;
  }

  .profile-text .bio {
    color: #fff;
    line-height: 1.7;
    font-size: 14px;
  }

  button {
    background-color: #ffeda3;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    margin-top: 30px;
    outline: none;
    padding: 20px 23px;
    position: relative;
    text-align: center;
    width: auto;
    transition: transform 0.1s;
  }

  button a {
    font-weight: 500;
    color: #111;
    text-decoration: none;
    line-height: 1.2;
  }

  button:focus-visible {
    box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
    transition: box-shadow 0.2s;
  }

  button:active {
    background-color: #f7f7f7;
    border-color: #000000;
    transform: scale(0.96);
  }

  .skills {
    width: 100%;
    padding: 3px 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  li {
    list-style-type: disc;
    color: #f2f2f2;
    font-size: 1rem;
    font-weight: bolder;
    margin: 0;
  }

  li::marker {
    font-size: 1.3rem;
    font-weight: bolder;
  }

  .group-modal {
    position: absolute;
    top: 15rem;
    right: 2rem;
  }

  /* hide select elements */
  .profile,
  .blog,
  .contact,
  small {
    display: none;
  }

  .projects {
    position: relative;
    /* left: -22px; */
    top: 2px;
    background-color: #d9d9d9;
    padding: 0.4rem;
    width: 68px;
    height: 68px;
    border-radius: 50px;
    box-shadow: 0px 0px 5px 4px rgba(255, 237, 163, 0.2);
    cursor: pointer;
  }

  .projects img {
    position: absolute;
    left: 10px;
    width: 50px;
    background-color: transparent;
  }

  /* MODAL */
  button {
    cursor: pointer;
    border: none;
    outline: none;
  }

  .modal-img {
    width: 100%;
    height: auto;
  }

  .modal_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    align-items: flex-end;
    overflow: hidden;
    transition: all 0.3s;
    z-index: 1000;
    background-color: hsla(240, 18%, 75%, 0.8);
    visibility: hidden;
    opacity: 0;
    perspective: 1000px;
  }

  .modal-content {
    position: relative;
    background-color: rgb(206, 200, 200);
    text-align: center;
    padding: 3rem 2rem 2rem;
    border: 1rem 1rem 0 0;
    transition: all 0.3s;
    margin: auto;
    width: 380px;

    /* effect 1 */
    transform: rotateX(65deg) scale(0.75) translateY(10%);
    transform-origin: 50% 100%;
  }

  .modal-img {
    width: 250px;
    margin-bottom: 0.75rem;
  }

  .modal-close {
    display: inline-flex;
    background-color: #222222;
    border-radius: 0.25rem;
    color: #fff;
    font-size: 1.5rem;
    position: absolute;
    top: 1rem;
    right: 0.75rem;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
  }

  .modal_title {
    font-size: 1.5rem;
    color: #fff;
    font-weight: 500;
  }

  .modal_description {
    margin-bottom: 1.5rem;
  }

  .modal_button-link {
    /* background-color: transparent; */
    background-color: #232323;
    color: #fff;
    font-weight: 500;
  }

  .show-modal {
    visibility: visible;
    opacity: 1;
  }

  .show-modal .modal-content {
    /* transform: translateY(0); */
    transform: rotateX(0) scale(1) translateY(0);
  }
}

/* DESKTOP */

@media screen and (min-width: 1024px) {
  body.dark {
    background-color: #232323;
    position: relative;
  }

  .skills {
    display: none;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  h1 {
    margin-left: 30rem;
    color: #f2f2ff;
    font-weight: 700;
    font-size: 28px;
    line-height: 44px;
    letter-spacing: 7px;
  }

  h2 {
    color: #f2f2ff;
    font-size: 28px;
    line-height: 1.4;
    padding: 5px 0;
  }

  p {
    font-size: 16px;
    line-height: 1.6;
    color: #f2f2ff;
  }

  .toggle {
    margin-left: 4rem;
    position: relative;
  }

  /* checkbox toggle */
  .checkbox {
    opacity: 0;
    position: absolute;
  }

  .checkbox:checked + .label .switch {
    transform: translateX(44px);
  }

  .label {
    position: relative;
    right: -10rem;
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 60px;
    position: relative;
    padding: 5px;
    height: 29.3px;
    width: 75px;
  }

  .switch {
    background-color: #fff;
    border-radius: 50px;
    position: absolute;
    top: 2px;
    left: 2px;
    width: 25px;
    height: 25px;
    transition: transform 0.2s linear;
    cursor: pointer;
  }

  .fa-moon {
    color: #f1c40f;
  }

  .fa-sun {
    color: #f39c12;
  }
  /* checkbox ends */

  /* main */
  .main {
    height: 100vh;
    color: #111;
    width: 100%;
    position: relative;
  }

  .hello {
    color: #ffeda3;
    font-size: 16px;
    margin-bottom: 0;
  }

  .profile-text {
    margin: 0 auto;
    position: absolute;
    top: 24rem;
    left: 34%;
    padding: 60px 20px;
    transform: translate(-50%, -50%);
    margin: 0 5rem 0 0;
  }

  .profile-text p {
    font-size: 17px;
  }

  .bio {
    word-wrap: break-word;
    text-align: justify;
    text-justify: inter-word;
    margin-top: 0;
  }

  /* GROUP MODAL */
  .group-modal {
    margin: 0 auto;
    position: absolute;
    top: 25rem;
    left: 50rem;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    padding: 70px 95px;
    transform: translate(-50%, -50%);
    margin: 0 0 0 18rem;
  }

  .group-modal > div {
    border: 1px solid #f2f2ff;
    border-radius: 5px;
    text-align: center;
    padding: 55px 55px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .group-modal div small {
    font-size: 14px;
  }

  /* modal items */
  .group-modal img {
    margin-bottom: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f2f2ff;
    filter: invert(100%);
    width: 35px;
    height: 35px;
  }

  .group-modal p {
    color: #f2f2ff;
  }

  .modal {
    cursor: pointer;
  }

  .modal:hover {
    background-color: hsl(240, 16%, 12%);
  }

  .modal-link {
    cursor: pointer;
    text-decoration: none;
  }

  small {
    color: #f2f2ff;
    padding: 10px 20px;
  }
  /* BUTTON */

  button a {
    text-decoration: none;
    color: #111;
    line-height: 1.2;
    /* padding: 12px 0; */
  }
  button {
    background-color: #ffeda3;
    border: none;
    color: #222222;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin-top: 13px;
    outline: none;
    padding: 20px 23px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: transform 0.1s;
    width: auto;
  }

  button:focus-visible {
    box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
    transition: box-shadow 0.2s;
  }

  button:active {
    background-color: #f7f7f7;
    border-color: #000000;
    transform: scale(0.96);
  }

  /* main ends */

  /* footer */
  footer {
    width: 250px;
    bottom: 0;
    position: relative;
    margin-top: 41.5rem;
    margin-left: 38rem;
    /* background-color: wheat; */
  }

  footer > div {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px;
    color: #f2f2ff;
    width: 35px;
    height: 35px;
  }

  .social-fill {
    background: #111;
    padding: 10px 13px;
    border-radius: 100px;
    cursor: pointer;
  }

  .social-fill a {
    color: #f2f2ff;
    text-decoration: none;
  }

  footer > div:last-of-type {
    padding-bottom: 2rem;
  }

  .socials {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* MODAL */
  button {
    cursor: pointer;
    border: none;
    outline: none;
  }

  .modal-img {
    width: 100%;
    height: auto;
  }

  .modal_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    align-items: flex-end;
    overflow: hidden;
    transition: all 0.3s;
    z-index: 1000;
    background-color: hsla(240, 18%, 75%, 0.8);
    visibility: hidden;
    opacity: 0;
    perspective: 1000px;
  }

  .modal-content {
    position: relative;
    background-color: rgb(206, 200, 200);
    text-align: center;
    padding: 3rem 2rem 2rem;
    border: 1rem 1rem 0 0;
    transition: all 0.3s;
    margin: auto;
    width: 380px;

    /* effect 1 */
    transform: rotateX(65deg) scale(0.75) translateY(10%);
    transform-origin: 50% 100%;
  }

  .modal-img {
    width: 250px;
    margin-bottom: 0.75rem;
  }

  .modal-close {
    display: inline-flex;
    background-color: #222222;
    border-radius: 0.25rem;
    color: #fff;
    font-size: 1.5rem;
    position: absolute;
    top: 1rem;
    right: 0.75rem;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
  }

  .modal_title {
    font-size: 1.5rem;
    color: #fff;
    font-weight: 500;
  }

  .modal_description {
    margin-bottom: 1.5rem;
  }

  .modal_button-link {
    /* background-color: transparent; */
    background-color: #232323;
    color: #fff;
    font-weight: 500;
  }

  .show-modal {
    visibility: visible;
    opacity: 1;
  }

  .show-modal .modal-content {
    /* transform: translateY(0); */
    transform: rotateX(0) scale(1) translateY(0);
  }
}

@media only screen and (min-width: 1280px) and (max-width: 1605px) {
  .toggle {
    margin-left: 63rem;
    position: absolute;
  }
}

@media only screen and (max-width: 768px) and (max-width: 912px) {
}

@media only screen and (max-width: 320px) {
  #profile-img {
    right: -2rem;
  }

  #img-index {
    right: -2rem;
  }
}

@media screen and (min-width: 380px) and (max-width: 425px) {
  #profile-img {
    right: 3.5rem;
  }

  #img-index {
    right: 3.5rem;
  }
}
